.add {
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
  }
  
  .add form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .add-img-upload {
    display: flex;
    flex-direction: column;
  }
  
  .add-img-upload img {
    width: 120px;
    cursor: pointer;
  }
  
  .add-product-name,
  .add-product-description {
    width: max(40%, 280px);
  }
  
  .add-product-name input,
  .add-product-description textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .add-product-description textarea {
    resize: vertical;
  }
  
  .add-category-price {
    display: flex;
    gap: 10px; /* Reduce gap between the elements */
  }
  
  .add-category,
  .add-price {
    display: flex;
    flex-direction: column;
  }
  
  .add-category select,
  .add-price input {
    width: 100%;
    max-width: 120px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .add-btn {
    align-self: flex-start;
    max-width: 120px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-btn:hover {
    background-color: tomato;
  }
  